body{
    background-color: rgb(199, 199, 222);
    text-align: center;
}

h1{
    font-size: 4%;
    font-family: 'AR One Sans', sans-serif;
}
p
{
font-size: 1em;
font-family: 'AR One Sans', sans-serif;
text-rendering: geometricPrecision;
}
img {
 border-radius: 70%;
}